@font-face {
    font-family: "fontDialog";
    src: url('fonts/Zcool.ttf');
}

body{
    background-color: black;
}
img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-left:500px;
    left: 0;
    top: 0;
    width: 250px; /* Full width */
    height: 250px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    color:black;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    font-family: arial;
  }

  /* Modal Content */
  .modal-content {
    background-color: #F9D992;
    margin: auto;
    border: 10px solid #F9D992;
    border-radius:50%;
      font-family: 'fontDialog';
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



/*   .circle1{
    border: 5px solid #00bfb6;
    position: absolute;
    width: 25px;
    padding: 20px;
    border-radius: 50%;
    right: -15px;
    bottom: 23px;
  }
  .circle2{
    content: "";
    position: absolute;
    width: 25px;
    padding: 20px;
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
    background: #fff;
  }  */