@font-face {
    font-family: "fontDialog";
    src: url('fonts/Zcool.ttf');
}

body{
    background-color: black;
}
img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-left:500px;
    left: 0;
    top: 0;
    width: 250px; /* Full width */
    height: 250px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    color:black;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
  }

  /* Modal Content */
  .modal-content {
    align-items:center;
    background-color: #F9D992;
    margin: auto;
/*     border: 5px solid #F9D992;
 */    border-radius:50%;
    font-family: 'fontDialog';
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: center;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    margin-left: 20px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
/*   .boxy,
  .boxy label,
  .boxy input {
    
    appearance: none;
    width: 15px;
    height: 15px;
    display: block;
    position: relative;
    outline: none;
    user-select: none; 
}
.boxy {
    
  background: linear-gradient( 300deg,  #a57746,  #a57746 );
  box-shadow: inset 2px 2px 10px -1px  #a57746;
  margin-left: 50px; 
}
.boxy:before{
        content: "\f00c";
        position: absolute;
        left: 0;
        right: 0;
        line-height: 28px;
        color: white;
        text-align: center;
        font-family: "Font Awesome 5 Free";
        font-size: 16px;
} */




