body{
    background-color: black;
}
img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 250px; /* Full width */
    height: 250px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    border-radius: 50%;
    color: red;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    font-family: arial;
  }
/*   width: 250px;
  border: 5px solid #00bfb6;
  padding: 80px 0px;
  margin: 30px auto;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  font-family: arial;
  position: relative;
  color: #00bfb6; */
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }